body {font-size: 112.15%; background: url('../images/botanical-garden.jpg') no-repeat center center fixed; background-size: cover;}

.mainBar, #objetive {background: rgba(37, 53, 38, 0.8); }
#objetive {padding: 35px 0;}
#objetive p {width: 80%; max-width: 1000px; font-size: 1.6rem; line-height: 2rem; text-align: center; color: #FFF;}

#hero {padding: 13rem 0; color: #FFF; text-align: center;}
#hero h1 {font-size: 4.5rem; text-shadow: 2px 2px 4px #333; }
#hero h2 {font-size: 2rem; text-shadow: 1px 1px 2px #111; width: 80%; margin: 0 auto;}
#hero .btn-link {background: rgba(5,57,36,.5); margin-top: 50px;}
#hero .btn-link:hover {background: rgba(5,57,36,.8); margin-top: 50px;}
.btn-link {font-size: 1.5rem;}

#exp {background: #FFF; text-align: center;}
#exp h1 {font-size:1.6rem; color:#669966;}
#expAll {margin-top: 5rem; }
#textExperience {width: 95%; margin: 0 auto; max-width: 1200px;}
.expItem {max-width: 375px; padding: 10px; text-decoration: none; color: #333; margin-bottom: 50px; font-weight: 300; word-spacing: -0.1rem; font-size:0.98rem; opacity: 0; }
.expItem h2 {font-weight: 300; font-size: 2.1rem; margin: 1.8rem}
.expItem:hover {text-decoration: none; color: #333; cursor: pointer; background: rgba(214, 214, 214, 0.2) }
.expItem img {flex-shrink: 0; width: 100%; height: 100%;} 
.expRes {opacity: 0;}
#exp .btn {background: rgba(255, 153, 51, 0.9); text-shadow: 1px 1px 1px #666; }
#exp .btn:hover {background: rgba(252, 125, 21, 0.5); text-decoration: none; color: #FFF; }

#map {background: url(../images/costa-rica-nature.jpg) no-repeat center center fixed; overflow: hidden; background-size:cover; color: #FFF;}
#map h2 {font-size: 1.4rem;}
#map h3 {font-size: 1rem; font-weight:700; margin: 0; }
#map p {font-size: 1rem; line-height: 1.2rem;}
#map a {color:rgba(255, 245, 69, 0.9);}

@media screen and (max-width:851px) {
    #map > div {flex-direction: column;}
    #map iframe {flex-basis: unset; margin-top: 25px;}
}

@media screen and (max-width:451px) {
    #hero h1 {font-size: 3.5rem;}
    #hero h2 {font-size: 1.5rem;}
    #objetive p {width: 90%; font-size: 1.3rem; line-height: 1.5rem;}
    .expItem img {width: 90%; margin: 0 auto;}
    #exp .btn {font-size: 1.6rem; padding: 10px; width: 80%; line-height: 2rem;}
}

.animated {animation-fill-mode: both;}

@keyframes fadeIn {
    from {opacity: 0; }
    to {opacity: 1;}
  }
.fadeIn {animation-name: fadeIn; animation-duration: 2s !important; animation-delay: 0s;}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInUp {animation-name: fadeInUp; animation-duration: 1s !important;}