body {font-size: 112.15%; background: url('/images/botanical-garden.jpg') no-repeat center center fixed}

.topBar {background: #000; color: #FFF; text-align: right; padding: 5px 0;}
.topBar .text-uppercase {font-size: 0.9rem; line-height: 1.2rem;}
.topBar .tBitem {margin-left: 1.5rem;}
.barIcon {color: rgba(255,255,255,1); font-size:1.8rem}

.mainBar, #objetive {background: rgba(37, 53, 38, 0.8); }
.mainBar {text-transform: uppercase;} 
#objetive {padding: 35px 0;}
#objetive p {width: 80%; max-width: 1000px; font-size: 1.6rem; line-height: 2rem; text-align: center; color: #FFF;}
.navbar-dark .navbar-nav .nav-link {color: rgba(255,255,255,.8);}
.navbar-dark .navbar-nav .nav-link:hover {color: rgba(255,255,255,1);}

#hero {padding: 10rem 0; color: #FFF; text-align: center;}
#hero h1 {font-size: 4.5rem; text-shadow: 2px 2px 4px #333; }
#hero h2 {font-size: 2rem; text-shadow: 1px 1px 2px #111; }
#hero hr {border-top: 1px solid #FFF; margin: 50px auto; width: 50%; max-width: 450px;}
#hero .btn-link {background: rgba(5,57,36,.5); margin-top: 50px;}

.btn-link {text-decoration: none; color: #FFF; border: 2px solid #FFF; font-size: 1.5rem; border-radius: 12px; text-shadow: 1px 1px 1px #111; box-shadow: 2px 2px 4px #666; padding: 10px 45px;}

#exp {background: #FFF;}
#exp h1 {font-size:1.6rem; color:#669966; text-align: center; margin-bottom: 35px; }
.expItem {width: 80%; max-width: 375px; padding: 10px; text-decoration: none; color: #333; margin-bottom: 50px; text-align: center; font-weight: 300; word-spacing: -0.1rem;}
.expItem:hover {text-decoration: none; color: #333;}
.expItem h2 {font-weight: 300; font-size: 2.1rem}

#map {background: url(/images/costa-rica-nature.jpg) no-repeat center center fixed; overflow: hidden; background-size:cover; color: #FFF;}
#map h2 {font-size: 1.4rem;}
#map h3 {font-size: 1rem; font-weight:700; margin: 0; }
#map p {font-size: 1rem; line-height: 1.2rem;}

#footer {background: #000; color: #FFF;}
#footerMenu, #copy {text-align: center; width: 80%; margin: 35px auto; text-transform: uppercase; font-size:0.8rem; }
#footerMenu a {color: #FFF; margin: 0px 10px; }

.fixedWidth {margin: 0 auto; width: 100%; max-width: 1250px;}
.ptpb {padding: 5rem 0;}
.fw3 {font-weight: 300;}
.fw4 {font-weight: 400;}
.fw7 {font-weight: 700;}

